    body, html {
      height: 100%;
    /*  overflow: hidden;*/
      margin: 0;
      font-family: Arial;
      font-size: 16px;
    }
    p, li{
        font-size: 18px;
        color: #00000080;
        line-height: 27px;
    }

    h1{
        letter-spacing: -2px;
    }

    h2{
        letter-spacing: -1px;

    }

    .menu-title{
        font-weight: 900;
        font-size: 27px;
        text-transform: uppercase;
        text-shadow: 1px 0 #000;
        letter-spacing:1px;
    }

    .nav{
        height: 100%;
        float: left;
        width: 26%;
        background-color: #FFF;
        position: relative;

    }

    .menu{
        position: absolute;
        top: 45%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .menu a{
        text-decoration: none;
        color: #00000080;
        line-height: 30px;
    }

    .menu a:hover{
        color: #000000;
    }

    .copyright{
        color: #00000030;
        font-weight: 100;
        font-size: 13px;
    }


    .content{
        height: 100%;
        width: 74%;
        left: 26%;
        background-color: #f8f8f8;
        float: left;
        position: absolute;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;

    }   


    .avatar img{
        width: 250px;
        border-radius: 50%;
        margin-right: 50px;
        margin-top: -100px;
    }

    .title {
        margin-top: -100px;
        width: 50%;
    }

    .icons{
        display: flex;
    }

    .icons a{
        color: #000;
    }

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: max-content;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 5px;
        transition: opacity 1s ease-in-out;

        position: absolute;
        z-index: 1;
        left: 0;
        top: 110%;
    }

    .github-hide {
        display: none;
    }

    .github:hover + .github-hide {
        font-size: 14px;
        background: #000;
        color: #f5f5f5;
        padding: 3px 7px;
        border-radius: 7px;
        display: block;
        width: max-content;
        position: absolute;
        margin-left: -34px;
    }

    .envelope-hide {
        display: none;
    }

    .envelope:hover + .envelope-hide {
        font-size: 14px;
        background: #000;
        color: #f5f5f5;
        padding: 3px 7px;
        border-radius: 7px;
        display: block;
        width: max-content;
        position: absolute;
        margin-left: -64px;
    }


    .blog-hide {
        display: none;
    }

    .blog:hover + .blog-hide {
        font-size: 14px;
        background: #000;
        color: #f5f5f5;
        padding: 3px 7px;
        border-radius: 7px;
        display: block;
        width: max-content;
        position: absolute;
    }


    .about{
        height: 100%;
/*        width: 74%;*/
        left: 26%;
        background-color: #f8f8f8;
/*        float: left;*/
/*        position: absolute;*/
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #ebebeb;
        display: flow-root;
/*        align-items: center;*/
/*        justify-content: center;*/
        padding: 40px;

    }   

label {
        padding-right: 10px;
        font-size: 18px;
        color: #00000080;
        line-height: 27px;
    }

progress { 
    accent-color: #00000080; 
    margin-right: 40px;
}


td{
    vertical-align: top;
    overflow:hidden;
    word-break:normal;
}



.card{
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    padding: 15px;
    border-radius: 10px;
    color: #00000080;
    line-height: 27px;
    font-size: 18px;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;

}

.card h3{
    color: #000;
    margin-top: 5px;
    margin-bottom: 0;
}

.linkicon{
    margin-top: 5px;
}

.clear{
    clear: both;
}

.titlecontact{
    margin-top: -100px;

}


@media screen and (max-width: 767px) {
    .tg {width: auto !important;}
    .tg col {width: auto !important;}
    .tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}
    .nav{ display:none }
}