body {
    background-color: #f5f5f5;
    margin-top: 15%;
    font-family: Segoe UI;
    color: #1e1e1e;
}

.container{
    max-width: 600px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

p{
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 350;
}

h2{
    text-align: center;
    font-weight: 400;
    margin-bottom: -5px;
    font-size: 28px;
    letter-spacing: -1px;
}

.avatar{
    width: 75px;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.icons{
    text-align: center;
    display: flex;
    justify-content: center;
}

.icons a{
    color: #1e1e1e;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.github-hide {
    display: none;
}

.github:hover + .github-hide {
    font-size: 14px;
    background: #1e1e1e;
    color: #f5f5f5;
    padding: 3px 7px;
    border-radius: 7px;
    display: block;
    width: max-content;
    position: absolute;
    margin-left: -30px;
}

.envelope-hide {
    display: none;
}

.envelope:hover + .envelope-hide {
    font-size: 14px;
    background: #1e1e1e;
    color: #f5f5f5;
    padding: 3px 7px;
    border-radius: 7px;
    display: block;
    width: max-content;
    position: absolute;
    margin-left: -45px;
}


/*  #Mobile 
================================================== */

@media (max-width: 1100px) {
  /*h1:after {
    content: 'Medium screen';
  }*/

}

@media (max-width: 480px) {
/*  h1:after {
    content: 'Small screen';
  }*/
  .container {
    max-width: 600px;
    display: unset;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
}